/*------------------SKIP TO CONTENT--------------------*/
.skip-to-content{
	bottom: 97%;
	position: absolute;
	transform: translateY(-100%);
	transition: transform 0.3s;
}

.skip-to-content:focus{
	background-color: #512D1E;
	color: white;	
	transform: translateY(0%);
}
/*-----------------TOP IMAGE-------------------------------*/
#fullname{
	width: 500px;
	height: auto;
	animation-name: grow;
	animation-duration: 5s;
	margin: 0%;
	border: none;
}
/*----------------ALIGNS NAV BAR AND IMAGE------------------*/
header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav{
	background-color: #411F1F;
	border: 2px solid black;
	padding: 10px;
	margin: 0%;
	text-decoration: none;
}

/*----------REMOVES STYLE THAT ONLY CURRENT PAGE SHOULD HAVE----------*/
a{
	text-decoration: none;
}
/*-----------ADDS LIGHT BROWN BOX IN TABS-------------------------*/	
nav li{
	background-color: #512D1E;
	padding:10px;
	width:100%;
	border:1px solid white;
	display: inline-block;
	color: white;
}

/* -----------WHEN HOVERING CHANGES COLOR----------------*/
nav li:hover{
	background-color: #8D633A;
}

/* -----------WHEN CLICKING CHANGES COLOR----------------*/
nav a:focus{
	color: yellow;
}

/* ------------Shows what is the current page----------------*/
#current_page{
	font-weight: bold;
	text-decoration: underline;
	font-size: 110%;
	background-color: #8D633A;
	font-weight: bolder;
}

/*------------------BACKGROUND COLOR-----------------*/
body{
	margin:1%;
	padding:1%;
	background-color: blanchedalmond;
}
/*------------------PARALLAX SCROLLING EFFECT----------------------*/
#main{
	background-color: white;
	background-image: url("../imgs/crest.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 45%;
	background-attachment: fixed;
}
/*-----------------GRID STYLE-----------------*/

.container{
	border: 2px solid grey;
	margin: 10px 0;
	padding: 5px 0;
}

.grid-container{
	display: grid;
	grid-template-columns: 90%;
	grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
	grid-gap: 10px 50px;
	justify-content: center;
}

.grid-item{
	display: flex;
	flex-direction: column;
}

/*------------------TEXT STYLE-----------------*/
p{
	text-align: center;
	padding: 10px;
	letter-spacing: .5px;
	color: white;

}

.paragraph{
	border: 2px solid black;
	background-color: #8D633A;
	color: white;
	margin: 10px 10px;
}
.header{
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 2px solid black;
	margin: 10px 10px;
	font-size: 2em; 
	font-weight: bold;
	color: white;
	background-color: #643614;
}

/*------------------FOOTER-----------------*/
footer{
	border: 2px solid black;
	margin: 10px 0;
	background-color: #512D1E;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px;
	font-size: 50%;
	color: white;
}

.footer-text{
	background-color: transparent;
}
/*------------------FOOTER IMAGE-----------------*/
.ao{
	width: 5%;
	height: auto;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
	margin: 0%;
	border: none;
}

/*------------------CONTACT FORM-----------------*/
.form{
	display: grid;
	grid-template-columns: 75%;
	grid-template-rows:auto;
	background-color: #8D633A;
	color: white;
	justify-content: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 75%;
	border: 20px inset #411F1F ;
	padding: 10px;
}

/*------------------IMAGE STYLE-----------------*/
.ao{
	width: 5%;
	height: auto;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
	margin: 0%;
	border: none;
}
img{
    height: auto;
    width: auto;
    border: 20px inset #8D633A ;
    padding: 0px;
    margin: auto;
	animation-name: appear;
	animation-duration: 5s;
}
.handsign{
	padding: 0%;
}

#fathers, #founders{
	width: 75%;
}
.caption{
	text-align: center;
	justify-content:center;
	align-items: center;
	width: 70%;
	border: 2px solid black;
	background-color: #512D1E;
	color: white;
	margin: 10px auto 10px auto;
	padding: 5px;
}

.description{
	font-size: 75%;
	border: 2px solid black;
	background-color: #8D633A;
	color: white;
	margin: 10px;
}
/*------------------YOUTUBE VIDEO-----------------*/

iframe{
	justify-content: center;
	align-items: center;
	margin:auto;
	width: 75%;
}

/*-------------------SELF PROMOTION-------------*/
.pub{
	border: 3px solid #512D1E;
	padding: 3px;
	background-color: #8D633A;
}

.pub:hover{
	border: 3px solid blanchedalmond;
	background-color: blue;
}

/*-------------------ANIMATION/REDUCED MOTION-------------*/
@keyframes grow{
    from{opacity: 0;
    width:0px;
  }
    to{opacity: 1;
    width:307px;  
  }
  }
@keyframes appear{
    from{opacity: 0;
  }
    to{opacity: 1;
  }
  }
  @media (prefers-reduced-motion: reduce) {
    img{animation:none;}
	#fullname{animation:none;}
	#main{background-attachment: scroll;
			background-size: cover;}
	.flip-card-inner{transition: none;}	
  }

/*Added this so the links stay the same color*/
a:before{color: white;}
a:visited{color:white;
	text-decoration: none;
}
/*------------------------------FLIP CARD--------------------------------*/
#current-chap{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto auto auto auto auto;
	margin: auto 15px;
	grid-gap:10px 10px;
}

/*---------------------------------------------------DESKTOP---------------------------------------------------------------------------*/

@media screen and (min-width: 1024px){.grid-container{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto auto;
	grid-gap: 50px 50px;
	justify-content: center;
	flex-direction: column;
	}
	
	#current-chap{
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-template-rows: auto auto auto auto auto auto auto;
	}
	.fraternal-fathers{
		display: inline-grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto;
		grid-gap: 10px;
	}

	#grid-item-fathers{
		grid-row: 3;
		grid-column:1;
	}

	#grid-item-founders{
		grid-row: 4;
		grid-column: 1;
	} 
	.grid-item.grid-pic{
		justify-content: center;
		margin: auto;
		align-items: center;
	}
	#iframe{
		display:list-item;
		animation-name: appear;
		animation-duration: 5s;
		margin: auto;
		height: 700px;
	}
	nav li{
		width:auto;
	}
	.paragraph{
		margin: 20px 40px;
	}
	body{
		font-size: 200%;
	}

	.flip-card {
		background-color: transparent;
		width: auto;
		height: auto;
		perspective: 1000px;
		justify-content: center;
		align-items: center;
		margin: auto;
	  }
	  
	  .flip-card-inner {
		position: relative;
		text-align: center;
		justify-content: center;
		align-items: center;
		transition: transform 0.6s;
		transform-style: preserve-3d;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		margin: auto;
	  }
	  
	 
	  .flip-card:hover .flip-card-inner, .flip-card:active .flip-card-inner, .flip-card:focus .flip-card-inner{
		  transform: rotateY(180deg);
		  width: auto;
	  }

	  .flip-card.focus-within .flip-card-inner{
		  transform: rotateY(180deg);
		  width: auto;
	  }
	  
	  .flip-front, .flip-back {
		position: absolute;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	  }
	  
	  .flip-front {
		background-color: #bbb;
		color: black;
		width: 100%;
		height: 100%;
	  }
	
	  
	  .flip-back {
		transform: rotateY(180deg);
		width: 100%;
		height: 100%;
	  }
	  
	  .flip-back p{
		  width: 100%;
		  height: 100%;
		  margin: auto;
		  font-size: 65%;
		  border: none;
	  }
	  
	  .fraternal-fathers{
		  grid-row:2;
	  }

	  #upcard{
		  width: 211.2px;
		  height: 244.2px;
	  }
	  #chicard{
		  width: 208.8px;
		  height: 240.6px;
	  }
	  #phicard{
		 width: 240px;
		 height: 199.8px; 
	  }
	  #psicard{
		 width: 197.4px;
		 height: 227.4px; 
	  }
	  @keyframes grow{
                 from{opacity: 0;
                 width:0px;
                 }
                  to{opacity: 1;
                    width: 500px;  
                 }
  }
}
